<% content_for :title, "Contacto" %>
<% content_for :url, "/contacto" %>

<% content_for :head do %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAzkphKi-nDGzvrHnyPu9fV5X55iPof0I0&callback=initMap', async: true, defer: true %>
<% end %>

<div id="map"></div>
<section class="view-content container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Acercate</h1>
      <p>En la organización le damos la bienvenida a todos los chicos</p>
      <p>
        Puedes acercarte a nuestra organización de 8:30 a 13:00 en Córdoba 2766, Mar del Plata
        o llámanos al <%= link_to "(0223) 495-4515", "tel:0223-495-4515" %> para una comunicación más directa.
      </p>
      <% if flash[:result].nil? %>
        <article>
          <p>Dejanos un mensaje</p>
          <%= form_tag({controller: "contact", action: "submit"}, method: :post) do %>
            <div class="form-group">
              <%= label_tag "message", "Mensaje", class: "sr-only" %>
              <%= text_area_tag "message", nil, class: "form-control", required: true, placeholder: "Sientete libre de escribir..." %>
            </div>
            <div class="form-group">
              <%= label_tag "name", "Nombre", class: "sr-only" %>
              <%= text_field_tag "name", nil, class: "form-control", placeholder: "Tu nombre completo" %>
            </div>
            <div class="form-group">
              <%= label_tag "email", "Email", class: "sr-only" %>
              <%= text_field_tag "email", nil, class: "form-control", placeholder: "Email si tienes" %>
            </div>
            <div class="form-group">
              <%= label_tag "phone", "Telefono", class: "sr-only" %>
              <%= text_field_tag "phone", nil, class: "form-control", placeholder: "Un telefono para escribirte o llamarte" %>
            </div>
            <div id="recaptcha-container">
              <%= recaptcha_tags %>
            </div>
            <div>
              <%= button_tag "Enviar", class: "btn btn-default" %>
            </div>
          <% end %>
        </article>
      <% else %>
        <p><%= flash[:result] %></p>
      <% end %>
    </div>
  </div>
</section>
