<footer class="site-footer container-fluid">
  <div class="row">
    <section class="col-md-4 col-sm-4 col-xs-12 text-center">
      <div class="site-footer__social-networks">
        <p class="sr-only">Redes sociales</p>
        <ul class="site-footer__social-networks__list">
          <li class="site-footer__social-networks__list__item">
            <%= link_to "https://facebook.com/Paanet", rel: "external" do %>
              <%= image_tag "icons/facebook.png", alt: "facebook" %>
            <% end %>
          </li>
          <li class="site-footer__social-networks__list__item">
            <%= link_to "https://twitter.com/Paanet", rel: "external" do %>
              <%= image_tag "icons/twitter.png", alt: "twitter" %>
            <% end %>
          </li>
          <li class="site-footer__social-networks__list__item">
            <%= link_to "https://instagram.com/Paanet", rel: "external" do %>
              <%= image_tag "icons/instagram.jpg", alt: "instagram" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="site-footer__paanet-logo">
        <%= image_tag "paanet_logo_white.png", alt: "Paanet" %>
      </div>
    </section>
    <section class="col-md-4 col-sm-4 col-xs-12 text-center">
      <address>
        <p>C칩rdoba 2766, Mar del Plata</p>
        <%= link_to "(0223) 495-4515", "tel:0223-495-4515" %>
      </address>
    </section>
    <section class="col-md-4 col-sm-4 col-xs-12 text-center">
      <p class="site-footer__message">Somos una red de apoyo, contenci칩n y asistencia a ni침os y adolescentes con c치ncer.</p>
    </section>
  </div>
</footer>
