<footer class="site-footer container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <section class="col-md-3">
      <div class="social-networks">
        <p class="sr-only">Redes sociales</p>
        <ul class="social-networks__list">
          <li class="social-networks__list__item">
            <%= link_to "https://facebook.com/Paanet", target: "_blank", rel: "external" do %>
              <%= image_tag "icons/facebook.png", alt: "facebook" %>
            <% end %>
          </li>
          <li class="social-networks__list__item">
            <%= link_to "https://twitter.com/Paanet", target: "_blank", rel: "external" do %>
              <%= image_tag "icons/twitter.png", alt: "twitter" %>
            <% end %>
          </li>
          <li class="social-networks__list__item">
            <%= link_to "https://instagram.com/Paanet", target: "_blank", rel: "external" do %>
              <%= image_tag "icons/instagram.jpg", alt: "instagram" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="paanet-logo">
        <img alt="paanet logo">
      </div>
    </section>
    <div class="col-md-1"></div>
  </div>
</footer>
