<meta property="og:type" content="website">

<% if content_for?(:title) %>
  <title><%= yield(:title) + " | Paanet" %></title>
  <meta name="og:title" content="<%= yield(:title) + " | Paanet" %>">
<% else %>
  <title>Paanet</title>
  <meta name="og:title" content="Paanet">
<% end %>

<% if content_for?(:description) %>
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="og:description" content="<%= yield(:description) %>">
<% else %>
  <meta name="description" content="Paanet es una red de apoyo,
  contención y asistencia a niños y adolescentes con cáncer.
  Situada en la ciudad de Mar del Plata cuenta con distintos programas.">
  <meta name="og:description" content="Paanet es una red de apoyo,
  contención y asistencia a niños y adolescentes con cáncer.
  Situada en la ciudad de Mar del Plata cuenta con distintos programas.">
<% end %>

<% if content_for?(:url) %>
  <meta property="og:url" content="<%= "https://paanet.org" + yield(:url) %>">
<% else %>
  <meta property="og:url" content="https://paanet.org">
<% end %>

<%# Username of Twitter account %>
<meta name="twitter:site" content="Paanet">

<meta name="keywords" content="cancer,
    niños,
    adolescentes,
    asistencia,
    apoyo,
    conciencia,
    conocimiento,
    comunicación,
    comunidad,
    asociación,
    org,
    organización,
    mar del plata,
    paanet
  ">
