<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#11d3eb">

    <% if yield(:title).blank? %>
      <title>Paanet Org</title>
      <meta name="og:title" content="Paanet Org">
    <% else %>
      <title><%= yield(:title) + " | Paanet Org" %></title>
      <meta name="og:title" content="<%= yield(:title) + " | Paanet" %>">
    <% end %>
    <% if yield(:description).blank? %>
      <meta name="description" content="Paanet es una red de apoyo,
      contención y asistencia a niños y adolescentes con cáncer.
      Situada en la ciudad de Mar del Plata cuenta con distintos programas.">
      <meta name="og:description" content="Paanet es una red de apoyo,
      contención y asistencia a niños y adolescentes con cáncer.
      Situada en la ciudad de Mar del Plata cuenta con distintos programas.">
    <% else %>
      <meta name="description" content="<%= yield(:description) %>">
      <meta name="og:description" content="<%= yield(:description) %>">
    <% end %>
    <meta property="og:type" content="website">
    <% if yield(:url).blank? %>
      <meta property="og:url" content="https://paanet.org">
    <% else %>
      <meta property="og:url" content="<%= "https://paanet.org" + yield(:url) %>">
    <% end %>
    <%# Username of Twitter account %>
    <meta name="twitter:site" content="Paanet">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Cookie|Open+Sans',
      media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <% if not notice.blank? %>
      <p class="alert alert-info"><%= notice %></p>
    <% elsif not alert.blank? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <main id="view-content-wrapper">
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
