<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#11d3eb">

    <%= render "layouts/metadata" %>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans',
      media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <% if not notice.blank? %>
      <p class="alert alert-info"><%= notice %></p>
    <% elsif not alert.blank? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <main id="view-content-wrapper">
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
